#movieTimelineMoviesDisplay {
    display: flex;
    justify-content: space-between;
}

.movieDiv {

    color: #333;
    display: inline-block;
    font-size: 12px;
    text-align: left;
    overflow: hidden;
    width: 160px;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.tip {
    background-color: hsla(0, 0%, 100%, .9);
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    width: 180px;
}

.tip .year {
    font-weight: 900;
    font-size: 1.25em;
    margin-bottom: 2px;
}

.tip .swatch {
    width: 11px;
    height: 11px;
    float: left;
    margin-top: 6px;
    margin-right: 4px;
}

.secondLevelMovieTimeline {
    position: relative;
}

.legend {
    position: absolute;
    top: 15px;
    left: 30px;
    background-color: hsla(0, 0%, 100%, .9);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.legend-ph{
    width: 40%;
}

.legend-genre{
    width: 25%;
}

.legend .title {
    margin-bottom: 2px;
    font-weight: 900;
}

.legend .item {
    width: 50%;
    float: left;
    font-size: .75em;
}

.legend .swatch {
    width: 10px;
    height: 10px;
    margin-top: 3px;
    float: left;
    margin-right: 5px;
    
}


.float-child {
    width: 50%;
    float: left;
}  

.timeline-image-container {
    position: relative;    
}

.timeline-movie-year {
   position: absolute;
   right: 0;
   bottom: 0; 
   opacity: 0.8; 
   padding: 2px;
   background-color: white;
   border: 0.5px solid black;
}

.card-deck {
    padding: 0.5em 4em
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}