#tooltip {
  position: absolute;
  display: inline-block;
  color: #555;
  font-size: 11px;
  text-align: left;
  background: #fafafa;
  box-shadow: 2px 2px 5px rgba(0, 0, 20, 0.25);
  pointer-events: auto;
  line-height: 200%;
  max-width: 300px;
  max-height: 450px;
  overflow-y: auto;
  opacity: 0;
  justify-content: space-between;
}


/* width */
#tooltip::-webkit-scrollbar {
  width: 20px;
}

/* Track */
#tooltip::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
#tooltip::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
}

/* Handle on hover */
#tooltip::-webkit-scrollbar-thumb:hover {
  background: #FF8C00;
}


#close {
    position: absolute;
    float:right;
    display:inline-block;
    padding:1px 5px;
    background:#ccc;
    user-select: none;
    border-radius:50%;
}

#close:hover {
        float:right;
        display:inline-block;
        padding:1px 5px;
        background:#ccc;
    color:#fff;
    }

#options {
  position: absolute;
  float:right;
  display:inline-block;
  padding:2px 5px;
  background:#FFE7AE;
  user-select: none;
  border-radius: 10px;
}

/* Network placeholder */
.graph {
  width: 100%;
  height: 800px;
  float: left;
}



/* Tooltip title */
.title {
  padding: 15px 10px;
  border-bottom: 1px solid #ccc;
  color: #666;
  font-weight: bold;
  font-size: 15px;
}

.text {
  font-size: 13px;
  padding-top: 0px;

  padding-left: 10px;
  padding-bottom: 0px;
}

.header {
  padding: 20px 10px;
  border-bottom: 4px solid #ccc;
  color: #666;
  font-weight: bold;
  font-size: 20px;
}

.panel {
  display: inline-grid;
  border-bottom: 5px dotted orange;
}
.actorpanel {
  display: inline-grid;
}


.container {
  width: 80%;
  height: 900px;
  margin: auto;
  padding: 10px;
}

.reddot {
  height: 25px;
  width: 25px;
  background-color: #d81b60;
  border-radius: 50%;
  display: inline-block;
}

.bluedot {
  height: 25px;
  width: 25px;
  background-color: #00429d;
  border-radius: 50%;
  display: inline-block;
}

.blackdot {
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}



img.resize {
  max-width:20%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.actor {
  max-width:50%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
