#tooltip {
  position: absolute;
  display: inline-block;
  color: #555;
  font-size: 11px;
  text-align: left;
  background: #fafafa;
  box-shadow: 2px 2px 5px rgba(0, 0, 20, 0.25);
  pointer-events: none;
  line-height: 200%;
  max-width: 250px;
  opacity: 0;
}

#tip-header {
  padding: 15px 10px;
  border-bottom: 1px solid #ccc;
  color: #666;
  font-weight: bold;
  font-size: 12px;
}
#tip-header h1 {
  margin: 0 0 10px;

}
#tip-header div {
  margin: 0;
  line-height: 120%;
}

#tip-body {
  padding: 10px 10px;
}
