#tooltip {
  position: absolute;
  display: inline-block;
  color: #555;
  font-size: 11px;
  text-align: left;
  background: #fafafa;
  box-shadow: 2px 2px 5px rgba(0, 0, 20, 0.25);
  pointer-events: none;
  line-height: 200%;
  max-width: 250px;
  opacity: 0;
}

.title {
  padding: 15px 10px;
  border-bottom: 1px solid #ccc;
  color: #666;
  font-weight: bold;
  font-size: 12px;
}

.container {
  width: 80%;
  height: 900px;
  margin: auto;
  padding: 10px;
}

.graph {
  width: 100%;
  height: 800px;
  float: left;
}

.tip {
  margin-left: 81%;
  height: 800px;
  background: black;
}

.ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px;
} 
