@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



#body {
  font-family: 'Open Sans', sans-serif !important;
}



#tooltip {
  position: absolute;
  display: inline-block;
  color: #555;
  font-size: 11px;
  text-align: left;
  background: #fafafa;
  box-shadow: 2px 2px 5px rgba(0, 0, 20, 0.25);
  pointer-events: auto;
  line-height: 200%;
  max-width: 300px;
  max-height: 450px;
  overflow-y: auto;
  font-family: 'Open Sans', sans-serif;
  opacity: 0;
  justify-content: space-between;
  border-radius: 5%;
}


/* width */
#tooltip::-webkit-scrollbar {
  width: 20px;
}

/* Track */
#tooltip::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
#tooltip::-webkit-scrollbar-thumb {
  background: #ffbe76;
  border-radius: 10px;
}

/* Handle on hover */
#tooltip::-webkit-scrollbar-thumb:hover {
  background: #ff7979;
}

#tooltip::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10%;
}

#tooltip::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10%;
}

#options {
  position: absolute;
  float:right;
  display:inline-block;
  padding:2px 5px;
  background:rgba(255, 190, 118, 0.8);
  user-select: none;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif !important;
}

/* Network placeholder */
.graph {
  width: 100%;
  height: 800px;
  float: left;
}


.containermovie {
	width:90%;
	height:auto;
	padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}



/* Tooltip title */
.title {
  padding-left: 5px;
  color: #666;
  font-weight: bold;
  font-size: 15px;
}

.titleactor {
  margin-left: auto;
  margin-right: auto;
  color: #666;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}


.text {
  font-size: 13px;
  padding-top: 0px;
  padding-left: 10px;
  padding-bottom: 0px;
}

.textactor {
  font-size: 13px;
  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;
}


.imdb {
  padding-top:5px;
}

.header {
  padding-bottom: 20px;
  padding-left: 20%;
  /* border-bottom: 4px solid #ccc; */
  margin-left: auto;
  margin-right: auto;
  color: #666;
  font-weight: bold;
  font-size: 20px;
}

#help {
  right: 2%;
  bottom: 2%;
  position: absolute;
  background-color: lightgrey;
  padding: 5px 12px;
  border-radius: 50%;
  text-align: center;
}
#help:hover {
  color: white;
}

#help:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

#help:hover{
  background-color:grey;
}


#help:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

#help p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: rgba(255, 190, 118, 0.8);
    padding: 20px;
    width: 350px;
    position: absolute;
    border-radius: 5%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: black;
    font-size: 13px;
    line-height: 1.4;
}

#help p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}

#help p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

.header-help {
  font-size: 22px;
  padding-bottom: 5px;
  font-weight: bold;
}

.subheader-help {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 3px;
}

.text-help {
  font-size: 14px;
}


.tab-help {
  font-size: 12px;
  padding-left: 10px;
}



/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}



.panel {
  display: inline-grid;
  border-top: 5px solid #ffbe76;
}
.actorpanel {
  display: inline-grid;
}


.container {
  width: 80%;
  height: 900px;
  margin: auto;
  padding: 10px;
}

.reddot {
  height: 25px;
  width: 25px;
  background-color: #eb4d4b;
  border-radius: 50%;
  display: inline-block;
  opacity: 100%;
}

.bluedot {
  height: 25px;
  width: 25px;
  background-color: #686de0;
  border-radius: 50%;
  display: inline-block;
  opacity: 100%;
}

.blackdot {
  height: 25px;
  width: 25px;
  background-color: #535c68;
  border-radius: 50%;
  display: inline-block;
  opacity: 100%;
}



img.movie {
  max-width:30%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  border-radius: 5%;
  padding-right:5px;
}

img.actor {
  max-width:40%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}

img.imdb {
  max-width:20%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



button {
  background: none;
  border: 0;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 6px;
  left: 90%;
  letter-spacing: 1.5px;
  line-height: 22.5px;
  outline: none;
  overflow: hidden;
  padding: 10px 0 0;
  position: absolute;
  text-transform: uppercase;
  top: 25px;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  width: 30px;
  border-radius: 30%
}

button::before,
button::after {
  background-color: #ff7979;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 141.4214px;
  z-index: -1;
}

button::before {
  top: 0;
  transform: rotate(45deg);
}

button::after {
  bottom: 0;
  transform: rotate(-45deg);
}

button:hover {
  color: white;
}

button:hover::before,
button:hover::after {
  height: 50px;
  transform: rotate(0deg);
}


.fixedPosition
{
   position: fixed;
}
